*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  border: none;
  outline: none;

  font-family: verdana, sans-serif, Times, serif;

  // border: 2px solid red;
}
:root {
  --BTN-COLOR: rgb(58, 0, 12);
}

html {
  font-size: 62.5%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  min-height: 100vh;
  width: 100%;
}
