main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);

  width: 100%;
  text-align: center;
  border: 1px solid reds;

  p {
    font-size: 1.4rem;
    text-transform: capitalize;
    font-weight: 900;
  }
  h2 {
    font-size: 3rem;
    text-align: center;
    span {
      color: var(--BTN-COLOR);
    }
  }

  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  button {
    margin-top: 2em;
    padding: 0.6em 4em;

    background-color: var(--BTN-COLOR);
    color: #fff;

    text-transform: capitalize;
    font-size: 1.5rem;

    cursor: pointer;
  }
}
