.sideBar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding: 2em 1em;

  background-color: #fff;
  box-shadow: 1px 1px 2px #444;

  #logo {
    color: #00031d;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;

    sub {
      color: var(--BTN-COLOR);
    }
  }

  img {
    width: 2em;
    margin-block: 0.5em;
  }
}
